@font-face {
  font-family: "OpenSansCondensedLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansCondensedBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.woff") format("woff"), url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansCondensedLightItalic";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.woff") format("woff"), url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.ttf") format("truetype");
}
